<nav>
  <ul>
    <li><a routerLink="">1. Student List</a></li>
    <li><a routerLink="emplist">2. Employee List</a></li>
    <li><a routerLink="frulist">3. Fruit List</a></li>
    <li><a routerLink="coulist">4. Course List</a></li>
    <li><a routerLink="boolist">5. Book List</a></li>
    <li><a routerLink="citlist">6. City List</a></li>
    <li><a routerLink="movlist">7. Movie List</a></li>
    <li><a routerLink="carlist">8. Car Model List</a></li>
    <li><a routerLink="prolist">9. Product List</a></li>
    <li><a routerLink="sublist">10. Subject List</a></li>
    <li><a routerLink="counlist">11. Country List</a></li>
    <li><a routerLink="spolist">12. Sports List</a></li>
    <li><a routerLink="vaglist">13. Vagetable List</a></li>
    <li><a routerLink="anilist">14. Animal List</a></li>
    <li><a routerLink="toolist">15. Tool List</a></li>
    <li><a routerLink="lanlist">16. Language List</a></li>
    <li><a routerLink="gamlist">17. Game List</a></li>
    <li><a routerLink="soflist">18. Software List</a></li>
    <li><a routerLink="pholist">19. Phone Contact List</a></li>
    <li><a routerLink="muslist">20. Music Playlist</a></li>
    <li><a routerLink="foomenu">21. Food Menu</a></li>
    <li><a routerLink="grolist">22. Grocery List</a></li>
    <li><a routerLink="clalist">23. Classroom List</a></li>
    <li><a routerLink="invlist">24. Inventory List</a></li>
    <li><a routerLink="leclist">25. Lecture List</a></li>
    <li><a routerLink="stalist">26. Stationery List</a></li>
    <li><a routerLink="flolist">27. Flower List</a></li>
    <li><a routerLink="deslist">28. Destination List</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>