<nav>
  <ul>
    <li><a routerLink="">1. Student List</a></li>
    <li><a routerLink="emplist">2. Employee List</a></li>
    <li><a routerLink="frulist">3. Fruit List</a></li>
    <li><a routerLink="coulist">4. Course List</a></li>
    <li><a routerLink="boolist">5. Book List</a></li>
    <li><a routerLink="citlist">6. City List</a></li>
    <li><a routerLink="movlist">7. Movie List</a></li>
    <li><a routerLink="carlist">8. Car Model List</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>