<p>Employee List Works!</p>
<input type="text" [(ngModel)]="name" placeholder="Enter name">
<input type="text" [(ngModel)]="job" placeholder="Enter job">
<input type="text" [(ngModel)]="position" placeholder="Enter position">

<button (click)="addItem()">Add Employee</button>

<ul>
  <li *ngFor="let employee of employeeList">
    ID: {{ employee.id }} - Name: {{ employee.name }} - Job: {{ employee.job }} - Position: {{ employee.position }}
    <button (click)="removeItem(employee.id)">Remove</button>
  </li>
</ul>
